<!-- <div>
  <button [routerLink]="['/add-form']">Add</button>
  <div *ngIf="products">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Category</th>
          <th>Product Name</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | async">
          <td>{{ product.productId }}</td>
          <td>{{ product.categoryName }}</td>
          <td>{{ product.productName }}</td>
          <td>{{ product.price }}</td>
          <td>
            <button
              type="button"
              [routerLink]="['/products', product.productId]">
              >
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
<div class="product-list">
  <button class="add-button" [routerLink]="['/add-form']">Add</button>
  <div *ngIf="products" class="table-container">
    <table class="product-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Category</th>
          <th>Product Name</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | async" class="product-row">
          <td>{{ product.productId }}</td>
          <td>{{ product.categoryName }}</td>
          <td>{{ product.productName }}</td>
          <td>{{ product.price }}</td>
          <td>
            <button
              type="button"
              class="view-button"
              [routerLink]="['/products', product.productId]">
              >
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
