.product-list {
	font-family: Tahoma, Geneva, sans-serif;
}
  
.add-button {
	padding: 10px 20px;
  	background-color: #007bff;
 	color: white;
  	border: none;
 	border-radius: 5px;
  	cursor: pointer;
  	font-size: 14px;
 	transition: background-color 0.3s ease;
}

.add-button:hover {
	background-color: #0056b3;
}
  
.table-container {
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.product-table {
	border-collapse: collapse;
	width: 100%;
}
  
.product-table th {
	padding: 15px;
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
  
  
.product-row th {
	color: #636363;
	border: 1px solid #dddfe1;
}
  
.product-row {
	background-color: #f9fafb;
}
  
.product-row:nth-child(odd) {
	background-color: #ffffff;
}
  
.product-row td {
	width: 15%;
	border: 1px solid #000;
	text-align: center;
}

.view-button {
	padding: 5px 10px;
	background-color: #28a745;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 12px;
	transition: background-color 0.3s ease;
  }
  
.view-button:hover {
	background-color: #1e7e34;
}
  
  